@model SugarCenter.ViewModel.ShopViewModel

    <section class="module-small">
    <div class="container">
        <form class="row" asp-controller="Shop" asp-action="Shop">
            <div class="col-sm-4 mb-sm-20">
                <select class="form-control" id="sorting" name="sorting">
                    <option selected="selected" value="1">Default Sorting</option>
                    <option value="2">Latest</option>
                    <option value="3">High Price</option>
                    <option value="4">Low Price</option>
                </select>
            </div>
            <div class="col-sm-3 mb-sm-20">
                <select class="form-control" id="categorySorting" name="categorySorting">
                    <option selected="selected" value="-1">All</option>
                    @foreach (var category in Model.ShopCategories)
                    {
                        <option value="@category.ShopCategoryId">@category.Name</option>
                    }
                </select>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-block btn-round btn-g" type="submit">Apply</button>
            </div>
        </form>
    </div>
</section>


@***************      Shop Section        **********************@
<hr class="divider-w">
<section class="module-small">
    <div class="container">
        <div class="row multi-columns-row">

            <div class="col-sm-6 col-md-3 col-lg-3">
                @foreach (var item in Model.ShopItems)
                {
                    <div class="shop-item">
                        <div class="shop-item-image">
                            <img src="~/imgs/logo.jpg" alt="@item.Name" />
                            <div class="shop-item-detail"><a class="btn btn-round btn-b"><span class="icon-basket">Add To Cart</span></a></div>
                        </div>
                        <h4 class="shop-item-title font-alt"><a href="@Url.Action("SingleItem", "Shop", new {productId = item.ShopItemId})">@item.Name</a></h4>$@item.Price
                    </div>
                }
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="pagination font-alt"><a href="#"><i class="fa fa-angle-left"></i></a><a class="active" href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#"><i class="fa fa-angle-right"></i></a></div>
            </div>
        </div>
    </div>
</section>