@model List<SugaringCentreAuckland.Persistent.SugaringCentreAucklandElk.Models.Product>
@*TODO: Validation model is not empty*@
@{
    Layout = null;


    var groupedProducts = Model?
        .GroupBy(x => x.ProductId)
        .Select(x => new
        {
            Id = x.First().ProductId,
            Name = x.First().Title, 
            SinglePrice = x.First().Price, 
            SumPrice = x.Sum(s => s.Price), 
            Qty = x.Count(),
            Image = x.First().ProductImage.First().Image
        }).ToList();
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>SugarCenter - Checkout</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/footer.css"/>
    <link rel="stylesheet" href="~/css/Shop.css"/>
    <link rel="stylesheet" href="~/css/ShopCheckout.css"/>

    <link href="~/css/ui.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/responsive.css" rel="stylesheet" type="text/css"/>

    <script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald:400,700,300"/>

</head>
<body>

<script src="https://www.paypal.com/sdk/js?client-id=ARNbFguZBa3gmeTyiwnw_fBc9H2SBVMf9kJf47ci9x7xbVVAX7lD5ZuJ1nxvUJLLI2SAfG7p5x5PRPaH&currency=NZD&intent=capture&components=buttons&buyer-country=NZ"></script>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white" style="padding: 0; height: 120px;">
        <div class="container" style="margin-right: 60px;">
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" class="margin-right: 60px;">
                <ul class="navbar-nav flex-grow-1" style="display: contents;">
                    <li class="nav-item">
                        <a class="nav-link text-dark" style="padding-right: 2px;" asp-controller="Shop" asp-action="ShopCheckout">
                            <img style="width: 20px; height: 20px; object-fit: cover; display: block; margin: auto; margin: auto;" src="~/imgs/Carticon.png"/>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" style="padding-right: 2px;" href="https://www.facebook.com/Sugaring.centre.auckland/">
                            <img style="width: 20px; height: 20px; object-fit: cover; display: block; margin: auto; margin: auto;" src="~/imgs/f_logo.png"/>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" style="font: normal normal normal 14px/1.79em Playfair Display, serif;" asp-area="" asp-controller="Blog" asp-action="Index">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" style="font: normal normal normal 14px/1.79em Playfair Display, serif;" asp-area="" asp-controller="Shop" asp-action="Index">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" style="font: normal normal normal 14px/1.79em Playfair Display, serif;" asp-area="" asp-controller="Booking" asp-action="Index">Book Online</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" style="font: normal normal normal 14px/1.79em Playfair Display, serif;" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="main">
    <!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h1 class="module-title font-alt">Checkout</h1>
            </div>
        </div>
        
        <div class="row">
            <main class="col-md-9">
                <div class="card overflow-x:auto;">

                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                        <tr class="small text-uppercase">
                            <th scope="col">Product</th>
                            <th scope="col" width="120">Quantity</th>
                            <th scope="col" width="120">Price</th>
                            <th scope="col" class="text-right" width="200"> </th>
                        </tr>
                        </thead>
                        <tbody>
                        
                        @foreach (var item in groupedProducts)
                        {
                            var thumbImg = Convert.ToBase64String(item.Image);
                            <tr>
                                <td>
                                    <figure class="itemside">
                                        <div class="aside">
                                            <a href="@Url.Action("SingleItem", "Shop", new {productId = item.Id})">
                                                <img src="data:image/jpeg;base64,@thumbImg" class="img-sm">
                                            </a>
                                        </div>
                                        <figcaption class="info">
                                            <a href="#" class="title text-dark">@item.Name</a>
                                            @* <p class="text-muted small">Size: XL, Color: blue, <br> Brand: Gucci</p> *@
                                        </figcaption>
                                    </figure>
                                </td>
                                <td>
                                    <input class="form-control" type="number" min="1" value="@item.Qty" id="qty-@item.Id" onchange="updateProductTotal(@item.Id, @item.SinglePrice)">
                                </td>
                                <td>
                                    <div class="price-wrap">
                                        <var class="price" id="total-price-@item.Id">$@(item.SinglePrice * item.Qty)</var>
                                        <small class="text-muted"> $@item.SinglePrice each </small>
                                    </div> <!-- price-wrap .// -->
                                </td>
                                <td class="text-right hidden-sm">
                                    <a onclick="RemoveProduct(@item.Id)" class="btn btn-light"> Remove</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>

                    <div class="card-body border-top">
                        <a href="@Url.Action("Index")" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Continue shopping </a>
                    </div>
                </div> <!-- card.// -->

                @* <div class="alert alert-success mt-3"> *@
                @* 	<p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p> *@
                @* </div> *@

            </main> <!-- col.// -->
            <aside class="col-md-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label>Have coupon?</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="" placeholder="Coupon code">
                                    <span class="input-group-append">
                                        <button class="btn btn-primary">Apply</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div> <!-- card-body.// -->
                </div> <!-- card .// -->
                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Total price:</dt>
                            <dd id="total-cart-price" class="text-right">$@Model.Select(m => m.Price).Sum()</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Discount:</dt>
                            <dd class="text-right">$0</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Total:</dt>
                            <dd class="text-right  h5">
                                <strong id="total-cart">$@Model.Select(m => m.Price).Sum()</strong>
                            </dd>
                        </dl>
                        <hr>
                        <p class="text-center mb-3">
                            <img src="~/imgs/payments.png" height="26">
                        </p>
                    </div> <!-- card-body.// -->
                </div> <!-- card .// -->
            </aside> <!-- col.// -->
        </div>
        <hr class="divider-w">
        <div class="row">
            <div class="col-12" style="text-align: center">
                <div id="paypal-button-container"></div>
            </div>
        </div>

    </div> <!-- container .//  -->
</section>

</div>


<script>
  var totalAmount = document.getElementById("total-cart-price").value;
 
  var itemsFromModel = @Html.Raw(Json.Serialize(groupedProducts));
  var productsToDisplay = [];
 
  
  paypal.Buttons({
      createOrder: function(data, actions) {
        for (var i = 0; i < itemsFromModel.length; ++i){
           
           productsToDisplay.push({
              name: itemsFromModel[i].name,
              unit_amount: {
                  currency_code: "NZD",
                  value: itemsFromModel[i].singlePrice
              },
              quantity: itemsFromModel[i].qty
           })
        }
        // This function sets up the details of the transaction, including the amount and line item details.
        return actions.order.create({ 
          purchase_units: [{
            amount: {
                currency_code: "NZD",
                value: totalAmount,
                breakdown: {
                    item_total: {
                        currency_code: "NZD",
                        value: totalAmount
                    }
                }
            },
            items: productsToDisplay
          }]
        });
      },
      onApprove: function(data, actions) {
        // This function captures the funds from the transaction.
        return actions.order.capture().then(function(details) {
          // This function shows a transaction success message to your buyer.
          CreateOrder(details);
        });
      }
    }).render('#paypal-button-container');

function CreateOrder(details) {
    
    var orderItems = [];
    
    for(i = 0; i < details.purchase_units[0].items.length; ++i) {
        orderItems.push({
            name:   details.purchase_units[0].items[i].name,
            amount: details.purchase_units[0].items[i].unit_amount.value,
            Qty:    details.purchase_units[0].items[i].quantity
        });
    }
    
    var preparedOrderInfo = {
        externalId: details.id,
        date:       details.create_time,
        amount:     details.purchase_units[0].amount.value,
        email:      details.payer.email_address,
        firstName:  details.payer.name.given_name,
        lastName:   details.payer.name.surname,
        address:    details.purchase_units[0].shipping.address.address_line_1 + ',' + details.purchase_units[0].shipping.address.admin_area_2 + ',' + details.purchase_units[0].shipping.address.country_code + ',' + details.purchase_units[0].shipping.address.postal_code,
        orderItems:  orderItems
    };
    
    $.ajax({
        url : "/Shop/CreateOrder/",
        type: "POST",
        dataType: "json",
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(preparedOrderInfo),
        traditional: true,
        success: function(data) {
            window.location = '@Url.Action("Index")';
        }
    });
}

function RemoveProduct(productId) {
  $.ajax({
    url: "/Shop/RemoveItemFromCart/",
    type: "POST",
    dataType: "json",
    data: {productId: productId}
  })
}

function updateProductTotal(productId, singlePrice) {
    var newQty = $("#qty-" + productId).val();
    
    if (newQty <= 0) {
        newQty = 1;
        $("#qty-" + productId).val(newQty);
    }
    
    $("#total-price-" + productId).text("$" + (singlePrice * newQty).toFixed(2));
    
    totalAmount = 0;
    for (var i = 0; i < itemsFromModel.length; ++i){
        if (itemsFromModel[i].id == productId) {
            itemsFromModel[i].qty = newQty;
        }
        totalAmount += itemsFromModel[i].singlePrice *  itemsFromModel[i].qty;
    }
    
    $('#total-cart-price').text("$" + totalAmount.toFixed(2));
    $('#total-cart').text("$" + totalAmount.toFixed(2));
    
    
}
</script>

</body>
</html>