@model SugarCenter.ViewModel.ShopViewModel
@*TODO: Pop up window when item is added to cart*@
    <section class="module-small">
    <div class="container">
        <form class="row" asp-controller="Shop" asp-action="Shop">
            <div class="col-sm-4 mb-sm-20">
                <select class="form-control" id="sorting" name="sorting">
                    @if (@Model.Sorting == 1) { <option selected="selected" value="1">Default Sorting</option> }
                    else { <option value="1">Default Sorting</option> }
                    
                    @if (@Model.Sorting == 1) { <option selected="selected" value="2">Latest</option> }
                                        else { <option value="2">Latest</option> }
                    
                    @if (@Model.Sorting == 1) { <option selected="selected" value="3">High Price</option> }
                                        else { <option value="3">Default Sorting</option> }
                    
                    @if (@Model.Sorting == 1) { <option selected="selected" value="4">Low Price</option> }
                                        else { <option value="4">Default Sorting</option> }
                </select>
            </div>
            <div class="col-sm-3 mb-sm-20">
                <select class="form-control" id="categorySorting" name="categorySorting">
                    @if (@Model.CategorySorting == -1) { <option selected="selected" value="-1">All</option> }
                                                            else { <option value="-1">All</option> }
                    @foreach (var category in Model.Categories)
                    {
                        @if (@Model.CategorySorting == @category.CategoryId) { <option selected="selected" value="@category.CategoryId">@category.Name</option> }
                        else { <option value="@category.CategoryId">@category.Name</option> }
                    }
                </select>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-block btn-round btn-g" type="submit">Apply</button>
            </div>
        </form>
    </div>
</section>


@***************      Shop Section        **********************@
<hr class="divider-w">
<section class="module-small">
    <div class="container">
        <div class="row multi-columns-row">
            @foreach (var item in Model.Products)
            {
                var thumbImg = Convert.ToBase64String(item.ProductImage.First().Image);
                
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="shop-item">
                            <div class="shop-item-image">
                                <img src="data:image/jpeg;base64,@thumbImg" alt="@item.Name"/>
                                <div class="shop-item-detail"><a class="btn btn-round btn-b" href="@Url.Action("AddItemToCart", "Shop", new {productId = item.ProductId})"><span class="icon-basket">Add To Cart</span></a></div>
                            </div>
                            <h4 class="shop-item-title font-alt"><a href="@Url.Action("SingleItem", "Shop", new {productId = item.ProductId})">@item.Name</a></h4>$@item.Price
                        </div>
                    </div>
            }

        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="pagination font-alt"><a href="#"><i class="fa fa-angle-left"></i></a><a class="active" href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#"><i class="fa fa-angle-right"></i></a></div>
            </div>
        </div>
    </div>
</section>