@using Microsoft.AspNetCore.Rewrite.Internal
@model SugarCenter.ViewModel.BookingViewModel
@{
    var slidemenuWidth = (Model.Services.Count() * 150).ToString() + "px";
    var elementWdth = (100 / Model.Services.Count()).ToString();
    var displayValue = "flex";
    var defaultServiceId = 0;
}


<div class="slidemenu" style="max-width: @slidemenuWidth;">
    
    @foreach(var service in Model.Services)
    {
        var index = Model.Services.IndexOf(service);
        <!-- Item i -->
        @if (index == 0)
        {
            defaultServiceId = service.ServiceId;
            <input type="radio" name="slideItem" id="slide-item-@index" class="slide-toggle" rel="@service.ServiceId" checked onclick="changeCategory(@index)"/>
        }
        else
        {
            <input type="radio" name="slideItem" id="slide-item-@index" class="slide-toggle" rel="@service.ServiceId" onclick="changeCategory(@index)"/>
        }
        <label for="slide-item-@index" style="width:@elementWdth%"><span>@service.Name</span></label>
    }

    <div class="clear"></div>
  
    <!-- Bar -->
    <div class="slider">
        <div class="bar" style="width: @elementWdth%"></div>
    </div>
  
</div>

<section class="typeList">
    @foreach (var serviceType in Model.ServiceTypes)
    {
        @if (serviceType.ServiceId != defaultServiceId)
            {
                displayValue = "none";
            }
            else
            {
                displayValue = "flex";
            }
        <div class="row service-@serviceType.ServiceId" style="display: @displayValue">
                
                <div class="col" style="display: flex;">
                @{ var activeImage = Convert.ToBase64String(serviceType.Tmbnail);}
                <a href="@Url.Action("Index", "Home")" class="imageLink">
                <div class="circleThumbnail" style="background-image: url(data:image/jpeg;base64,@activeImage)">
                    @*<img style="max-height: 100%; max-width: 100%; object-fit: contain" src="data:image/jpeg;base64,@activeImage"/>*@
                </div>
                </a>
                </div>
                <div class="divider-h">
                </div>
                <div class="col" style="text-align: center; display: inline-grid;">
                    <div style="margin-top: auto; margin-bottom: auto; height: auto;">
                        <div class="typeTitle"><a href="@Url.Action("Index", "Home")">@serviceType.Title</a></div>
                        <div class="priceAndDuration"> @serviceType.Duration min | $@serviceType.Price</div>
                        <button class="bookItButton">Book It</button>
                    </div>
                </div>
            </div>
    }
</section>

<section class="module pt-0 pb-0">
    <div class="row position-relative m-0">
        <div class="col-xs-12 col-md-6 side-image-text">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="module-title font-alt align-left">Reserve a Table</h2>
                    <p class="module-subtitle font-serif align-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                </div>
            </div>
            <form class="reservation-form" id="reservationForm"  method="post">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="icon-calendar"></i>
                        </div>
                        <input class="form-control input-lg" id="date" type="date" name="date" placeholder="dd/mm/yyyy" required=""/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="icon-clock"></i>
                        </div>
                        <select class="form-control input-lg" id="time" name="time" type="text" required="required">
                            <option value="time" disabled="" selected="">Select Time</option>
                            <option value="1.30">1:30 pm</option>
                            <option value="3.00">3:00 pm</option>
                            <option value="4.30">4:30 pm</option>
                            <option value="6.00">6:00 pm</option>
                            <option value="7.30">7:30 pm</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="icon-profile-male"></i>
                        </div>
                        <input class="form-control input-lg" id="people" type="number" name="people" min="1" max="50" step="1" placeholder="Number of people" required=""/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="icon-envelope"></i>
                        </div>
                        <input class="form-control input-lg" type="email" id="email" name="email" placeholder="Your Email*" required="required" data-validation-required-message="Please enter your email address."/>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-g btn-round btn-block btn-lg mt-20" id="rfsubmit" type="submit"><i class="fa fa-paper-plane-o"></i> Reserve</button>
                </div>
                <div id="reservationFormResponse"></div>
            </form>
        </div>
        <div class="col-xs-12 col-md-6 col-md-offset-6 side-image restaurant-image-overlay" data-background="assets/images/restaurant/reservation.jpg"></div>
    </div>
</section>

<script type="text/javascript">
var changeCategory = function (index) {
    var margin = (index * @elementWdth) + '%';
    $('.bar').css('margin-left', margin);
    
    $('.typeList > .row').hide();
    $('.slidemenu').find('input:checked').each(function () {
                            $('.typeList > .service-' + $(this).attr('rel')).show();
                        });
                        if(!$('.slidemenu').find('input:checked').length){
                            $('.typeList > .row').show();
                        }
}
</script>