@using Microsoft.AspNetCore.Rewrite.Internal
@model SugarCenter.ViewModel.BookingViewModel
@{
    var slidemenuWidth = (Model.Services.Count() * 150).ToString() + "px";
    var elementWdth = (100 / Model.Services.Count()).ToString();
    var displayValue = "flex";
    var defaultServiceId = 0;
}


<div class="slidemenu" style="max-width: @slidemenuWidth;">
    
    @foreach(var service in Model.Services)
    {
        var index = Model.Services.IndexOf(service);
        <!-- Item i -->
        @if (index == 0)
        {
            defaultServiceId = service.ServiceId;
            <input type="radio" name="slideItem" id="slide-item-@index" class="slide-toggle" rel="@service.ServiceId" checked onclick="changeCategory(@index)"/>
        }
        else
        {
            <input type="radio" name="slideItem" id="slide-item-@index" class="slide-toggle" rel="@service.ServiceId" onclick="changeCategory(@index)"/>
        }
        <label for="slide-item-@index" style="width:@elementWdth%"><span>@service.Name</span></label>
    }

    <div class="clear"></div>
  
    <!-- Bar -->
    <div class="slider">
        <div class="bar" style="width: @elementWdth%"></div>
    </div>
  
</div>

<section class="typeList">
    @foreach (var serviceType in Model.ServiceTypes)
    {
        @if (serviceType.ServiceId != defaultServiceId)
            {
                displayValue = "none";
            }
            else
            {
                displayValue = "flex";
            }
        <div class="row service-@serviceType.ServiceId" style="display: @displayValue">
                
                <div class="col" style="display: flex;">
                @{ var activeImage = Convert.ToBase64String(serviceType.Tmbnail);}
                <a href="@Url.Action("Service", "Booking", new {serviceId = serviceType.ServiceId, serviceTypeId = serviceType.ServiceTypeId})" class="imageLink">
                <div class="circleThumbnail" style="background-image: url(data:image/jpeg;base64,@activeImage)">
                    @*<img style="max-height: 100%; max-width: 100%; object-fit: contain" src="data:image/jpeg;base64,@activeImage"/>*@
                </div>
                </a>
                </div>
                <div class="divider-h">
                </div>
                <div class="col" style="text-align: center; display: inline-grid;">
                    <div style="margin-top: auto; margin-bottom: auto; height: auto;">
                        <div class="typeTitle"><a href="@Url.Action("Service", "Booking", new {serviceId = serviceType.ServiceId, serviceTypeId = serviceType.ServiceTypeId})">@serviceType.Title</a></div>
                        <div class="priceAndDuration"> @serviceType.Duration min | $@serviceType.Price</div>
                        <a href="#" class="bookItButton">Book It</a>
                    </div>
                </div>
            </div>
    }
</section>

<script type="text/javascript">
var changeCategory = function (index) {
    var margin = (index * @elementWdth) + '%';
    $('.bar').css('margin-left', margin);
    
    $('.typeList > .row').hide();
    $('.slidemenu').find('input:checked').each(function () {
                            $('.typeList > .service-' + $(this).attr('rel')).show();
                        });
                        if(!$('.slidemenu').find('input:checked').length){
                            $('.typeList > .row').show();
                        }
}
</script>