@model SugaringCentreAuckland.Persistent.SugaringCentreAucklandElk.Models.Booking
@{
    Layout = "_AdminConsole";
    var serviceName = Model?.ServiceNavigation?.Title;
    var staffName = Model?.StaffNavigation?.FirstName + ' ' + Model?.StaffNavigation?.LastName;
}

<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <form class="" asp-controller="AdminConsole" asp-action="SaveBooking">
                    @if (@Model.ServiceId <= 0)
                    {
                        <h5 class="card-title">New Booking</h5>
                    }
                    else
                    {
                        <h5 class="card-title">@Model.ServiceNavigation.Title for @Model.LastName</h5>
                    }

                    <input hidden asp-for="BookingId"/>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="service" class="">Service</label>
                                <input hidden id="serviceId" asp-for="ServiceId"/>
                                <input hidden id="serviceName" value="@serviceName"/>
                                <select id="service" class="service-select form-control" required></select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="master" class="">Master</label>
                                <input hidden id="staffId" asp-for="StaffId"/>
                                <input hidden id="staffName" value="@staffName"/>
                                <select id="master" class="staff-select form-control" required></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="date" class="">Date</label>
                                <input type="date" id="date" asp-for="Date" placeholder="Client Last Name" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="time" class="">Time</label>
                                <input type="time" id="time" asp-for="Time" placeholder="Client Last Name" class="form-control">
                            </div>
                        </div>
                    </div>

                    <h5 class="card-title">Client Info</h5>

                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="firstName" class="">First Name</label>
                                <input name="firstName" id="firstName" asp-for="FirstName" placeholder="Client First Name" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="lastName" class="">Last Name</label>
                                <input name="lastName" id="lastName" asp-for="LastName" placeholder="Client Last Name" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="email" class="">Email</label>
                                <input name="email" id="email" asp-for="Email" placeholder="Client Email" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="phone" class="">Phone</label>
                                <input name="phone" id="phone" asp-for="Phone" placeholder="Client Phone" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <label for="message">Message</label>
                            <textarea id="message" asp-for="Message" class="form-control">
                            </textarea>
                        </div>
                    </div>

                    <div class="form-row">
                        <button type="submit" class="mt-2 btn btn-primary">Save</button>
                        <button type="button" class="mt-2 btn btn-danger" style="margin-left: 20px" onclick='window.location = "@Url.Action("DeleteBooking", "AdminConsole", new {bookingId = Model.BookingId})";'>Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

var serviceId = 0;
var staffId = 0;

$(document).ready(function() {
    $('.service-select').select2({
        placeholder : "Select a service",
        allowClear : true,
        theme : "classic",
        ajax : {
            url : "/AdminConsole/GetServices",
            dataType : "json",
            data : function(params) {
                return {
                    searchServiceName : params.term
                }
            },
            processResults : function(data, params) {
                return {
                    results : data
                };
            }
        }
    });
        
    $('.staff-select').select2({
            placeholder : "Select a staff",
            allowClear : true,
            theme : "classic",
            ajax : {
                url : "/AdminConsole/GetStaffForService",
                dataType : "json",
                data : function(params) {
                    return {
                        serviceId : serviceId,
                        searchServiceName : params.term
                    }
                },
                processResults : function(data, params) {
                    return {
                        results : data
                    };
                }
            }
        });
    
    serviceId = $('#serviceId').val();
    var serviceName = $('#serviceName').val();
    $('.service-select').append(new Option(serviceName, serviceId, true,true));
    
    staffId = $('#staffId').val();
    var staffName = $('#staffName').val();
    $('.staff-select').append(new Option(staffName, staffId, true,true));
});

$(".service-select").on("change", function() {
     serviceId = $(this).val();
          
     $("#serviceId").val(serviceId);
});

$(".staff-select").on("change", function() {
     staffId = $(this).val();
          
     $("#staffId").val(staffId);
});

</script>