@model SugaringCentreAuckland.Persistent.SugaringCentreAucklandElk.Models.Product;

@{
    Layout = "_AdminConsole";
    string name = Model.Title == null ? "Name" : Model.Title ?? "";
    var price = Model == null ? 0 : Model.Price;
    var desc = Model.Desc == null ? "Desc" : Model.Desc ?? "";
}
@* <head> *@
@*     <meta charset="utf-8"/> *@
@*     <meta name="viewport" content="width=device-width, initial-scale=1.0"/> *@
@*     <title>SugarCenter</title> *@
@*     <environment include="Development"> *@
@*         <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/> *@
@*     </environment> *@
@*     <environment exclude="Development"> *@
@*         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" *@
@*               asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css" *@
@*               asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" *@
@*               crossorigin="anonymous" *@
@*               integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/> *@
@*     </environment> *@
@*     <link href="@Url.Content("~/css/SingleItem.css")" rel="stylesheet" type="text/css" /> *@
@*     <link rel="stylesheet" href="~/css/AdminConsole/Typography.css"/> *@
@*     <link href="~/css/select2/select2.min.css" rel="stylesheet"/> *@
@* *@
@*     <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display"/> *@
@*     <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald:400,700,300"/> *@
@* *@
@*     <script src="~/js/select2.min.js"></script> *@
@*    </head> *@

<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="main-card mb-3 card">
            <div class="card-body"><h5 class="card-title">Grid</h5>
                <form asp-action="SaveProduct" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="ProductId"/>
                    
                    <div class="position-relative row form-group"><label for="title" class="col-sm-2 col-form-label">Title</label>
                        <div class="col-sm-10"><input asp-for="Title" name="title" id="title" placeholder="Enter title" class="form-control"></div>
                    </div>
                    
                    <div class="position-relative row form-group"><label for="priceNzd" class="col-sm-2 col-form-label">Price NZD</label>
                        <div class="col-sm-10"><input asp-for="Price" type="number" step="any" name="price" id="priceNzd" placeholder="Enter price of product in NZD" class="form-control"></div>
                    </div>
                    
                    <div class="position-relative row form-group"><label for="categories" class="col-sm-2 col-form-label">Select Categories</label>
                        <div class="col-sm-10">
                            <input type="hidden" id="categories" asp-for="CategorySelected"/>
                            <select class="js-example-basic-single" name="categories[]" multiple="multiple" style="width: 100%;">
                                @foreach (var c in Model.ProductCategory)
                                {
                                    <option selected="selected" value="@c.CategoryId">@c.CategoryId</option>
                                }
                            </select>
                        </div>
                    </div>
                    
                    <div class="position-relative row form-group"><label for="descInput" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10"><textarea asp-for="Desc" id="descInput" class="form-control"></textarea></div>
                    </div>
                    
                    <div class="position-relative row form-group"><label for="imageInput" class="col-sm-2 col-form-label">Images</label>
                        <div class="col-sm-10"><input asp-for="ImagesToUpload" multiple="multiple" id="imageInput" type="file" class="form-control-file">
                            <small class="form-text text-muted">First choosen image will be preview for product</small>
                        </div>
                    </div>

                    <div class="position-relative row form-check">
                        <div class="col-sm-10 offset-sm-2">
                            <button class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    
@*     <div class="main"> *@
@*         <section class="module"> *@
@*             <div class="container"> *@
@*                 <div class="grid second-nav"> *@
@*                     <div class="column-xs-12"> *@
@*                         <nav> *@
@*                             <ol class="breadcrumb-list"> *@
@*                                 <li class="breadcrumb-item"> *@
@*                                     <a asp-area="" asp-controller="AdminConsole" asp-action="Products">Product list</a> *@
@*                                 </li> *@
@*                                 <li class="breadcrumb-item active">@Model.Title</li> *@
@*                             </ol> *@
@*                         </nav> *@
@*                     </div> *@
@*                 </div> *@
@*                 <form asp-action="SaveProduct" method="post" enctype="multipart/form-data"> *@
@*                     <div class="grid product"> *@
@*                         <div class="column-xs-12 column-md-7"> *@
@*                             <div class="product-gallery"> *@
@*                                 <div class="product-image"> *@
@*                                     <img class="active" src="https://source.unsplash.com/W1yjvf5idqA"> *@
@*                                 </div> *@
@*                                 <ul class="image-list"> *@
@*                                     <li class="image-item"><img src="https://source.unsplash.com/W1yjvf5idqA"></li> *@
@*                                     <li class="image-item"><img src="https://source.unsplash.com/W1yjvf5idqA"></li> *@
@*                                     <li class="image-item"><img src="https://source.unsplash.com/VgbUxvW3gS4"></li> *@
@*                                     <li class="image-item"><img src="https://source.unsplash.com/5WbYFH0kf_8"></li> *@
@*                                 </ul> *@
@*                             </div> *@
@*                             <input type="file" id="files" multiple="multiple" asp-for="ImagesToUpload"/> *@
@*                         </div> *@
@*                         <div class="column-xs-12 column-md-5"> *@
@*                             <input asp-for="Title" placeholder="Enter product name" class="form-control input-lg" style="border: 0px; font-size: 30px; font-weight: bold; padding: 0px; margin-bottom: 16px; margin-top: 16px;"/> *@
@*                             <input type="number" step="any" asp-for="Price" placeholder="Enter product price" class="form-control input-lg" style="border: 0px; font-size: 26px; font-weight: bold; padding: 0px;"/> *@

@*                             <select class="js-example-basic-single" name="categories[]" multiple="multiple" style="width: 100%; padding-top: 32px;"> *@
@*                                 @foreach (var c in Model.ProductCategory) *@
@*                                 { *@
@*                                     <option selected="selected" value="@c.CategoryId">@c.CategoryId</option> *@
@*                                 } *@
@*                             </select> *@
@*                             <div class="description"> *@
@*                                 <textarea asp-for="Desc" class="form-control" rows="7" placeholder="Enter product description" style="border: 0px;"></textarea> *@
@*                             </div> *@
@*                             <button class="add-to-cart" type="submit">Save Product</button> *@
@*                         </div> *@
@*                     </div> *@
@*                 </form> *@
@*                 @*<div class="grid related-products"> *@
@*                     <div class="column-xs-12"> *@
@*                         <h3>You may also like</h3> *@
@*                     </div> *@
@*                     @for (int i = 0; i < 3; i++) *@
@*                     { *@
@*                         Random rnd = new Random(); *@
@*     //                    Product tmp = Model.NavigationCategoryId.Products.ElementAt(rnd.Next(Model.NavigationCategoryId.Products.Count)); *@
@*                         //var thumbImg = Convert.ToBase64String(tmp.ProductImg); *@
@*                          *@
@*     $1$                     <div class="column-xs-12 column-md-4"> #1# *@
@*     $1$                         $2$ <img src="data:image/jpeg;base64,@thumbImg"> #2# #1# *@
@*     $1$                         <h4>@tmp.Name</h4> #1# *@
@*     $1$                         <p class="price">$@tmp.Price</p> #1# *@
@*     $1$                     </div> #1# *@
@*                     } *@
@*                 </div>*@ 
@*             </div> *@
@*         </section> *@
@*         <hr class="divider-w"> *@
@*     </div> *@
</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('.js-example-basic-single').select2({
    placeholder: "Select a category",
    allowClear: true,
    theme: "classic",
    ajax : {
       url : "/AdminConsole/GetCategory",
       dataType : "json",
       delay : 250,
       data : function(params) {
         return {
             searchCategoryName : params.term
             }
       },
       processResults : function(data, params) {
         return {
             results : data
         };
       }
    }
  });
});

$(".js-example-basic-single").on("change", function() {
  var categoryId = $(this).val();
  $("#categories").val(categoryId);
  
  var textBoxValueData = $("#categories").val();
  $.ajax({
      url : '/AdminConsole/SaveCategorySelection?categoryIds=' +  textBoxValueData,
      dataType : 'json',
      type: 'post'
  });
});
</script>