@model SugarCenter.ViewModel.ShopViewModel

@{
    Layout = "_AdminConsole";
}

<div class="app-main__outer">
    <div class="app-main__inner">
        
        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-header">Active Product</div>
                    <div class="table-responsive">
                        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                            <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th >Name</th>
                                <th class="text-center">Description</th>
                                <th>Price NZD</th>
                                <th class="text-center">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var product in Model.Products)
                            {
                                <tr>
                                    <td class="text-center text-muted">#@product.ProductId</td>
                                    <td>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left flex2">
                                                    <div class="widget-heading">@product.Title</div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center">@product.Desc</td>
                                    <td>@product.Price</td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-warning btn-sm" onclick="EditProduct(@product.ProductId)">Edit</button>
                                        <button type="button" class="btn btn-danger btn-sm" onclick="DeleteProduct(@product.ProductId)">Delete</button>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                    <div class="d-block text-center card-footer">
                        <button class="btn-wide btn btn-success" onclick='window.location = "@Url.Action("ProductConfiguration", "AdminConsole")";'>New Product</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

function DeleteProduct(productId) {
  $.ajax({
    url: '/AdminConsole/DeleteProduct',
    data : { 'productId': productId},
    contentType: "application/json; charset=utf-8", 
    dataType: 'json',
    async: false,
    success: function (data) {
        location.reload();
    }
  });
}

function EditProduct(productId) {
  $.ajax({
      url: '/AdminConsole/ProductConfiguration',
      data : { 'productId': productId},
      contentType: "application/json; charset=utf-8", 
      dataType: 'json'
    });
}
        
</script>