@model IEnumerable<SugaringCentreAuckland.Persistent.SugaringCentreAucklandElk.Models.ServiceCategory>
@{
    Layout = "_AdminConsole";
}

<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-header">Active Categories</div>
                    <div class="table-responsive">
                        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                            <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th >Name</th>
                                <th class="text-center">Description</th>
                                <th class="text-center">Sercvice Count</th>
                                <th class="text-center">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var category in Model)
                            {
                                <tr>
                                    <td class="text-center text-muted">#@category.ServiceCategoryId</td>
                                    <td>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left flex2">
                                                    <div class="widget-heading">@category.Title</div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center">@category.Description</td>
                                    <td class="text-center">@category.Services?.Count()</td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-warning btn-sm" onclick="EditProduct(@category)">Edit</button>
                                        @if (category.Services.Any())
                                        {
                                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target=".delete-service-category-modal" onclick="markCategoryToDelete(@category.ServiceCategoryId)">Delete</button>
                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-danger btn-sm" onclick="deleteCategory(@category.ServiceCategoryId)">Delete</button>
                                        }
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                    <div class="d-block text-center card-footer">
                        <button class="btn-wide btn btn-success" onclick='window.location = "@Url.Action("ServiceCategoryConfiguration", "AdminConsole")";'>New Category</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function markCategoryToDelete(id) {
        idCategoryToDelete = id;
    }
    
    function clearCategoryToDeleteId() {
        idCategoryToDelete = -1;
    }
    
    function deleteCategory() {
        $.ajax({
            url: '/AdminConsole/DeleteServiceCategory',
            data : { 'serviceCategoryId': idCategoryToDelete},
            contentType: "application/json; charset=utf-8", 
            dataType: 'json'
        });
        
        idCategoryToDelete = -1;
    }
</script>